<style>
.Navbar
{
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    padding: 14px;
    display: block;
    margin-bottom: 25px;
}

.Navbar a
{
    color: red;
}

.Links
{
    list-style-type: none;
    margin: 0;
    height: 60px;
    padding: 0;
    overflow: hidden
}

.Links li
{
    float: right;
}

.Links li a
{
    display: block;
    margin: 8px;
    font-size: 200%;
}

.Logo
{
    height: 100%;
    float: left;
}
</style>

<div class="Navbar">
    <ul class="Links">
        <a href = "fr4ct1ons.myportfolio.com"><img alt="FR4CT1ONS" src="../assets/Logo final.svg" class="Logo"></a>
        <NavbarLink linkType="LinkGallery" (OnChangePage)="ChangePage($event)" index="0" linkName="ART GALLERY" linkHref = "https://fr4ct1ons.myportfolio.com/work"></NavbarLink>
        <NavbarLink linkType="LinkActive" (OnChangePage)="ChangePage($event)" index="1" linkName="WHO AM I" pageLink = "#"></NavbarLink>

        <NavbarLink linkType="LinkGallery" (OnChangePage)="ChangePage($event)" index="2" linkName="GAMES" linkHref = "https://fr4ct1ons.myportfolio.com/full-gallery"></NavbarLink>
        <NavbarLink linkType="LinkGallery" (OnChangePage)="ChangePage($event)" index="3" linkName="SOFTWARE" linkHref = "https://fr4ct1ons.myportfolio.com/software"></NavbarLink>
    </ul>
</div>

<!--

-->